@model Product

<form method="post" class="pb-5">
    <div class="card shadow border-0 mt-4 rounded">
        <div class="card-header bg-gradient text-light py-4 rounded" style=" background-color:#008B8B">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.TicketTitle</h3>
                    <p class="text-white-50 fw-semibold mb-0">by @Model.Publisher</p>
                </div>
            </div>
        </div>
        <div class="card-body rounded">
            <div class="py-1">
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 ">
                        <a asp-action="Index" class="btn btn-secondary bg-gradient mb-2  text-light btn-sm text-uppercase ">
                            <small> <- back </small>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@Model.ImageUrl" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">

                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-50 ">Event Code : @Model.ISBN</h6>
                        </div>
                        <div class="row ps-2">
                            <div class="text-dark  pb-2">
                                Location : @Model.Location
                            </div>
                        </div>
                        <div class="row ps-2">
                            <div class="text-dark  pb-2">
                                Date : Updating
                            </div>
                        </div>
                        <div class="row ps-2">
                            <h6 class="text-dark text-opacity-75 ">
                                Entry Fee:
                            </h6>
                        </div>

                        <div class="row text-center ps-2 py-1">
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>Price</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                                <div>@Model.TicketPrice.ToString("c")</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 py-1">
                            <span class="badge ">@Model.Category.Name</span>
                        </div>
                        <div class="row pl-2 my-2">
                                <h6 class="fw-bold text-info-emphasis mb-0 text-decoration-underline ">Description -</h6>
                                <p class="text-secondary mt-0 lh-sm">@Html.Raw(Model.Description)</p>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4">
                                <div class="input-group ">
                                    <span class="input-group-text bg-primary text-white border-0 "
                                          id="inputGroup-sizing-default">
                                        Count
                                    </span>
                                    <input type="number" value="1" class="form-control text-end"
                                           aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1">
                                <button type="submit" disabled
                                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                                    <i class="bi bi-cash-stack"></i> 
                                    Buy Now (Comming Soon...)
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
